//TODO(krish): There should be a better way than to have to include this in every object-specific CSS file.

@import "bootstrap-sprockets";
@import "bootstrap";

.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu {
  .sub-menu {
    left: 100%;
    position: absolute;
    top: 25%;
    visibility: hidden;
    margin-top: -1px;
  }
  li:hover .sub-menu {
    visibility: visible;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
  margin-top: 0;
}

.navbar {
  .dropdown-menu {
    margin-top: 0;
  }
  .sub-menu {
    &:before {
      border-bottom: 7px solid transparent;
      border-left: none;
      border-right: 7px solid rgba(0, 0, 0, 0.2);
      border-top: 7px solid transparent;
      left: -7px;
      top: 10px;
    }
    &:after {
      border-top: 6px solid transparent;
      border-left: none;
      border-right: 6px solid #fff;
      border-bottom: 6px solid transparent;
      left: 10px;
      top: 11px;
      left: -6px;
    }
  }
}

span.glyphicon-arrow-right {
  font-size: 1em;
}

.my-dropdown-header {
  @extend .dropdown-header;
  display: block;
  padding: 0px 0px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $dropdown-link-hover-bg;
  white-space: nowrap; // as with > li > a
}
