%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Snowpal Software Services', '/#courses', class: 'navbar-home-brand'
    - if user_signed_in?
      .collapse.navbar-collapse
        %ul.nav.navbar-nav= render 'layouts/navigation_links'
        %ul.nav.navbar-nav.navbar-right= render 'layouts/navigation_links_right'

- if user_signed_in?
  %nav.navbar#z
    .container
      %ul.nav.nav-pills.my-nav-tabs
        %li.active#home
          %a{:href => "#courses"} My Home

        %li.dropdown#b
          %a#drop2{"data-toggle" => "dropdown", :href => "#", :role => "button"}
            School
            %span.caret
          %ul#menu3.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
            %li.my-dropdown-header{:role => "presentation"}
              %a{:href => "/#", :role => "menuitem", :tabindex => "-1"} TODO
              %ul.dropdown-menu.sub-menu{:style => "visibility: hidden"}
                %li
            %li.divider
            %li.my-dropdown-header{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"}
                Feature &nbsp;
                %span.glyphicon.glyphicon-arrow-right
              %ul.dropdown-menu.sub-menu
                %li
                  %a{:href => "#"} My Features
                %li
                  %a{:href => "#/new"} Add a Feature
                %li.divider
                %li.dropdown-header TODO
                %li
                  %a{:href => "#"} TODO
                %li
                  %a{:href => "#"} TODO

        %li.dropdown#c
          %a#drop3{"data-toggle" => "dropdown", :href => "#", :role => "button"}
            Collaboration
            %span.caret
          %ul#menu2.dropdown-menu{"aria-labelledby" => "drop4", :role => "menu"}
            %li.my-dropdown-header{:role => "presentation"}
              %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Share a Feature
    %br